*{
	margin: 0;
	padding: 0;
}

body{
	padding: 20px;
	font-family: "微软雅黑";
	font-size: 15px;
}

.main{
	margin: 0 auto;
	padding: 20px;
	background: #eee;
	border: 1px solid #999;
	overflow: auto;
	min-width: 600px;
}

.left{
	position: absolute;
	float:left;
	width: 160px;
	padding: 20px;    
	background: white;
	border: 1px solid #999;
	display: inline;
}


.left .logo{
	float:left;
	width: 80px;
	height: 80px;
	background: #eee;
	border: 1px solid #999;
}

.left h2{
	width: 180px;
	font-size: 13px;
	margin: 0;
	text-align: center;
}

.center{
	padding: 20px;
	margin-left: 220px;
	margin-right: 140px;
	background: #fff;
	border: 1px solid #999;	
}

.right{
	float: right;
	width: 120px;
	background: #fff;
	border: 1px solid #999;
	display: inline;
}

.right .logo{
	display: block;
	width: 80px;
	height: 80px;
	margin: 20px;
	background: #eee;
	border: 1px solid #999;
}